<div class="container">
    <div class="row justify-content-center">
         <div class="col-md-5">
            <div class="card shadow-lg p-5 mt-5 md-5">
                <h3>Registration Page</h3>
                <div class="alert alert-success" role="alert"> Account Has been Created! 
                    <a routerLink="/login" class="text-primary">Login here</a>
                </div>
                <form action="text-success">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" class="form-control" placeholder="Customer Name">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Address">
                        <label>State</label>
                        <input type="text" class="form-control" placeholder="State">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="Country">
                        <label>Email Address</label>
                        <input type="text" class="form-control" placeholder="Email Address">
                        <label>PancardNo</label>
                        <input type="text" class="form-control" placeholder="PancardNo">
                        <label>Contact No</label>
                        <input type="text" class="form-control" placeholder="Contact No">
                        <label>DOB</label>
                        <input type="text" class="form-control" placeholder="DOB">
                    </div><br>
                    <button type="submit" class="btn btn-outline-primary">SignUp</button>
                </form>
            </div>
         </div>
    </div>
</div>